APP_DOMAIN:     # e.g. "localhost:3000" or "set4volleyball.com"
APP_NAME:       # e.g. "Set4"

AMZN_ASOC_KEY:  
AMZN_ASOC_SECRET:

FOG_DIRECTORY:
ASSET_HOST:

FACEBOOK_KEY:
FACEBOOK_SECRET:

MAILCHIMP_API_KEY:
MAILCHIMP_DEFAULT_LIST_ID:

STRIPE_PUBLIC_KEY:
STRIPE_SECRET_KEY:

PRINTFUL_API_KEY:

FROALA_EDITOR_KEY:

DEV_DATABASE:
DEV_DATABASE_USERNAME:
DEV_DATABASE_PASSWORD:

